body {
  font-family: "Lato" "Open Sans", Arial, sans-serif;
  font-weight: 300; }

x3d {
  margin: 5px;
  display: inline-block; }
  x3d canvas {
    border: 1px solid black; }

.formGroup {
  margin: 20px; }
  .formGroup .button {
    background-image: linear-gradient(to bottom, #dedede, #efefef);
    background-image: -o-linear-gradient(bottom, #dedede, #efefef);
    background-image: -ms-linear-gradient(bottom, #dedede, #efefef);
    background-image: -moz-linear-gradient(bottom, #dedede, #efefef);
    background-image: -webkit-linear-gradient(bottom, #dedede, #efefef);
    display: inline-block;
    border: 1px solid #999;
    height: 30px;
    color: #000;
    width: 90px; }
    .formGroup .button:hover {
      background-image: linear-gradient(to bottom, #efefef, #dedede);
      background-image: -o-linear-gradient(bottom, #efefef, #dedede);
      background-image: -ms-linear-gradient(bottom, #efefef, #dedede);
      background-image: -moz-linear-gradient(bottom, #efefef, #dedede);
      background-image: -webkit-linear-gradient(bottom, #efefef, #dedede); }
  .formGroup .checkbox {
    margin: 5px 10px 5px 5px;
    vertical-align: middle;
    display: inline-block;
    background-image: linear-gradient(to bottom, #dedede, #efefef);
    background-image: -o-linear-gradient(bottom, #dedede, #efefef);
    background-image: -ms-linear-gradient(bottom, #dedede, #efefef);
    background-image: -moz-linear-gradient(bottom, #dedede, #efefef);
    background-image: -webkit-linear-gradient(bottom, #dedede, #efefef); }
    .formGroup .checkbox:hover {
      background-image: linear-gradient(to bottom, #efefef, #dedede);
      background-image: -o-linear-gradient(bottom, #efefef, #dedede);
      background-image: -ms-linear-gradient(bottom, #efefef, #dedede);
      background-image: -moz-linear-gradient(bottom, #efefef, #dedede);
      background-image: -webkit-linear-gradient(bottom, #efefef, #dedede); }
  .formGroup .selectedView, .formGroup .selectedColor {
    background-image: linear-gradient(to bottom, #9090cd, #bcbcde);
    background-image: -o-linear-gradient(bottom, #9090cd, #bcbcde);
    background-image: -ms-linear-gradient(bottom, #9090cd, #bcbcde);
    background-image: -moz-linear-gradient(bottom, #9090cd, #bcbcde);
    background-image: -webkit-linear-gradient(bottom, #9090cd, #bcbcde); }
    .formGroup .selectedView:hover, .formGroup .selectedColor:hover {
      background-image: linear-gradient(to bottom, #bcbcde, #9090cd);
      background-image: -o-linear-gradient(bottom, #bcbcde, #9090cd);
      background-image: -ms-linear-gradient(bottom, #bcbcde, #9090cd);
      background-image: -moz-linear-gradient(bottom, #bcbcde, #9090cd);
      background-image: -webkit-linear-gradient(bottom, #bcbcde, #9090cd); }
