@mixin transition($transition-time: 1s, $transition-property: all, $method: linear) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin gradiant-color($col1, $col2) {
	background-image: linear-gradient(to bottom, $col1, $col2);
	background-image: -o-linear-gradient(bottom, $col1, $col2);
	background-image: -ms-linear-gradient(bottom, $col1, $col2);
	background-image: -moz-linear-gradient(bottom, $col1, $col2);
	background-image: -webkit-linear-gradient(bottom, $col1, $col2);
}

@mixin gradiant-color-both($col1, $col2) {
	@include gradiant-color($col1, $col2);
	
	&:hover {@include gradiant-color($col2, $col1);}
}

$grey-top: #efefef;
$grey-bottom: #dedede;
$selected-top: #bcbcde;
$selected-bottom: #9090cd;
$setPixelSize: 10px;
$setPercentSize: 10%;

body {
	font-family: "Lato" "Open Sans", Arial, sans-serif;
	font-weight: 300;
	margin: $setPixelSize;
}

h2 {
	font-weight: 300;
	font-size: 140%;
}

.optionDiv {

	.formGroup {
		margin: 1% 0px $setPixelSize 0px;

		.button {
			@include gradiant-color-both($grey-bottom, $grey-top);
			display: inline-block;
			border: 1px solid #999;
			padding: 1% $setPixelSize
		}

		.checkbox {
			vertical-align: middle;
			display: inline-block;
			@include gradiant-color-both($grey-bottom, $grey-top);
		}

		.selectedView, .selectedColor {
			@include gradiant-color-both($selected-bottom, $selected-top);
		}
	}	
}

x3d { 
	margin: 5px 0px;

	canvas {
		border: 1px solid black;
	}
}

#rackDataDiv {
	display: inline-block;
	margin: 5px $setPixelSize;

	.footNotes {
		padding: 5% 0% 0% 0%;
		font-size: 75%;
	}
}