@mixin transition($transition-time: 1s, $transition-property: all, $method: linear) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin gradiant-color($col1, $col2) {
	background-image: linear-gradient(to bottom, $col1, $col2);
	background-image: -o-linear-gradient(bottom, $col1, $col2);
	background-image: -ms-linear-gradient(bottom, $col1, $col2);
	background-image: -moz-linear-gradient(bottom, $col1, $col2);
	background-image: -webkit-linear-gradient(bottom, $col1, $col2);
}

@mixin gradiant-color-both($col1, $col2) {
	@include gradiant-color($col1, $col2);
	
	&:hover {@include gradiant-color($col2, $col1);}
}

body {
	font-family: "Lato" "Open Sans", Arial, sans-serif;
	font-weight: 300;
	margin: 10px;
}

h2 {
	font-weight: 300;
}

.optionDiv {
	h2 {
		margin: 1px;
	}

	.formGroup {
		margin: 0px 0px 10px 0px;

		.button {
			@include gradiant-color-both(#dedede, #efefef);
			display: inline-block;
			border: 1px solid #999;
			height: 30px;
			color: #000;
			width: 90px;
		}

		.checkbox {
			margin: 5px 10px 5px 5px;
			vertical-align: middle;
			display: inline-block;
			@include gradiant-color-both(#dedede, #efefef);
		}

		.selectedView, .selectedColor {
			@include gradiant-color-both(#9090cd, #bcbcde);
		}
	}	
}

x3d { 
	margin: 5px 0px;

	canvas {
		border: 1px solid black;
	}
}

#hoverData {
	display: inline-block;
	margin: 0px 0px 30px 0px;

	p {
		margin: 200px 0px;
	}
}